.ann-details-edit {
  .header {
    font-weight: 900;
    text-align: center;
    font-size: 1.15rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
  }

  .heading {
    background-color: rgba($color: #000, $alpha: 0.2);
    border: 1px solid rgba($color: #000, $alpha: 0.2);
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
  }

  .section {
    padding-inline: min(2vw, 1rem);
    padding-block: 1rem;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(4vw, 3rem);
    flex-wrap: wrap-reverse;

    button {
      min-width: 140px !important;
    }
  }
}
