$breakpoint-hide-nav: 700px;

.nav-drawer {
  grid-area: navbar;
  height: 100%;
  width: 100%;
  transition: 500ms;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $breakpoint-hide-nav) {
    position: fixed;
    transform: translateX(-100%);

    .nav-container {
      height: 100%;
    }

    &.expand {
      transform: translateX(0);

      .nav-container {
        box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.7);
      }
    }
  }

  .nav-container {
    padding-inline: 0.5rem;
    padding-block: 1rem;
    background-color: white;
    width: fit-content;
    transition: 500ms;
    position: sticky;
    top: 61px;
  }

  ul {
    li:not(.accordion) {
      a,
      button {
        display: flex;
        gap: 0.5rem;
        padding-block: 0.6rem;
        padding-inline: 0.5rem;
        border-radius: 0.5rem;
        width: 100%;
        cursor: pointer;
        transition: 100ms;

        &:hover {
          background-color: hsl(var(--primary-100));
          color: hsl(var(--primary));
        }
      }

      &.selected {
        a,
        button {
          background-color: hsl(var(--primary-100));
          color: hsl(var(--primary));
        }
      }
    }

    .accordion-trigger {
      justify-content: flex-start;
      gap: 0.5rem;
      text-decoration: none;
      border-radius: 0.5rem;
      padding-inline: 0.5rem;
      padding-block: 0.6rem;

      &:hover {
        background-color: hsl(var(--primary-100));
        color: hsl(var(--primary));
      }
    }

    .accordion-list {
      margin-inline-start: 2rem;
    }
  }

  &__seperator {
    padding-inline-start: 0.5rem;
    opacity: 0.7;
    font-size: 0.875rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }
}
