// default layout styles

.layout-default {
  display: grid;
  grid-template-areas:
    'appbar appbar'
    'navbar main';
  grid-template-columns: 300px 1fr;
  height: 100vh;
  height: 100dvh;
  grid-template-rows: auto 1fr;

  &-main {
    grid-area: main;
  }
}
