// default layout styles
$breakpoint-hide-nav: 700px;

.layout-default {
  display: grid;
  grid-template-areas:
    'appbar appbar'
    'navbar main';
  grid-template-columns: var(--nav-drawer-width) 1fr;
  height: 100vh;
  height: 100dvh;
  grid-template-rows: auto 1fr;

  &-main {
    grid-area: main;
    background-color: var(--clr-background-main);
    padding-block: 1rem;
    padding-inline: min(2vw, 1rem);
  }

  @media screen and (max-width: $breakpoint-hide-nav) {
    grid-template-areas:
      'appbar'
      'main';
    grid-template-columns: 1fr;
  }
}
