$breakpoint-hide-actions: 700px;

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;

  @media screen and (max-width: $breakpoint-hide-actions) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.dashboard-sorting {
  background-color: white;
  display: flex;
  padding: 0.5rem;
  padding-block: 0.7rem;
  margin: -1rem;
  margin-bottom: 1rem;
  font-size: min(3.5vw, 0.9rem);

  svg {
    width: 20px;
  }

  li {
    flex: 1;
    display: grid;
    place-items: center;

    &:not(:first-child) {
      border-left: 2px solid var(--clr-background-main);
    }

    a {
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      width: fit-content;
      text-align: center;

      @media screen and (max-width: 950px) {
        span {
          display: none;
        }
      }

      br.hide-on-desktop {
        display: none;
      }

      &:hover {
        color: hsl(var(--primary));
      }
    }

    &.selected {
      color: hsl(var(--primary));
    }
  }
}

.no-content {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
