$breakpoint-shift-stepper: 600px;

.create-ann {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(3vw, 4rem);
    align-items: center;
    position: sticky;
    padding-block: 0.5rem;
    bottom: 0;
    z-index: 5;
    margin-inline: -2px;
    background-color: var(--clr-background-main);

    button {
      min-width: 100px;
    }
  }

  &__form {
    flex-grow: 1;
    display: grid;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }

  @media screen and (max-width: $breakpoint-shift-stepper) {
    h3.hide-mobile {
      display: none;
    }
  }
}

.ca-form {
  .form-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
}
