.ca-form4 {
  h4 {
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    gap: 0.5rem;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      border-bottom: 3px solid white;
      padding-bottom: 0.5rem;
    }
  }

  .full-width {
    grid-column: 1 / -1;
  }
}
