$breakpoint-hide-actions: 700px;

.app-bar {
  grid-area: appbar;
  border-bottom: 1px solid var(--clr-background-main);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-inline-end: auto;
    padding-inline: 0.5rem;
    width: var(--nav-drawer-width);

    h1 {
      font-weight: 700;
      font-size: 1.1rem;
    }

    @media screen and (max-width: $breakpoint-hide-actions) {
      width: fit-content;

      .logo {
        width: 30px;
        height: 30px;
      }

      h1 {
        font-size: 1rem;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @media screen and (max-width: $breakpoint-hide-actions) {
      display: none;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    font-weight: 500;
    font-size: min(1rem, 4vw);
  }
}
